@page "/"
@inject NavigationManager NavManager
@inject AuthenticationStateProvider AuthStateProvider

<PageTitle>Index</PageTitle>

<h1>Games</h1>

<container>
    <AuthorizeView>
        <Authorized>
            <button class="btn btn-success" @onclick="HandleCreate">Create A Game!</button>
        </Authorized>
        <NotAuthorized>
            <p>Please login to create and request to join games!</p>
        </NotAuthorized>
    </AuthorizeView>
    <br />
    <GameList />
</container>


@code {

    void HandleCreate()
    {
        NavManager.NavigateTo("creategame");
    }
}